body{
    background-image: url('background\ pic\ css/covid-1.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}
.container{
    justify-content: center;
    display: flex;
    align-items: center;
}