.Hay0 {
    background-image: url("background\ pic\ css/background 4.jfif");
}
.Hay {
    /* background-image: url("background\ pic\ css/background 4.jfif"); */
color: white;
text-align: center;
}
.Hay1 {
    /* background-image: url("background\ pic\ css/background 4.jfif"); */
color: white;

}